{% extends "_base.html" %}

{% block content %}
<img src="{{chart}}">
<table>
  <thead>
  <tr>
  {% for oszlop in oszlopok %}
  {% ifnotequal oszlop "dátum" %}
  <th><a href="/q/{{oszlop}}">{{ oszlop }}</a></th>
  {% endifnotequal %}
  {% ifequal oszlop "dátum" %}<th>dátum</th> {% endifequal %}
  {% endfor %}
</tr>
</thead>
<tbody>
  {% for sor in sorok %}
  <tr>
    {% if not datum %}<td> <a href="/q/{{sor.datum}}">{{sor.datum}}</a> </td>{% endif %}
    {% if not aru %}<td> <a href="/q/{{sor.aru}}">{{sor.aru}}</a> </td>{% endif %}
    {% if sor.vamhazkrt_min or sor.vamhazkrt_med %}
    <td>{% if sor.vamhazkrt_min %} 
          {{sor.vamhazkrt_min}}-{{sor.vamhazkrt_max}} 
        {% else %}
          {{sor.vamhazkrt_med}}
        {% endif %}
        {{sor.vamhazkrt_msg}}
        {{sor.vamhazkrt_tegnap}}
      </td>
      {% endif %}
    {% if sor.fehervariut_min or sor.fehervariut_med %}
    <td>{% if sor.fehervariut_min %} 
          {{sor.fehervariut_min}}-{{sor.fehervariut_max}} 
        {% else %}
          {{sor.fehervariut_med}}
        {% endif %}
        {{sor.fehervariut_msg}}
        {{sor.fehervariut_tegnap}}
      </td>
      {% endif %}
    {% if sor.korhazutca_min or sor.korhazutca_med %}
    <td>{% if sor.korhazutca_min %} 
          {{sor.korhazutca_min}}-{{sor.korhazutca_max}} 
        {% else %}
          {{sor.korhazutca_med}}
        {% endif %}
        {{sor.korhazutca_msg}}
        {{sor.korhazutca_tegnap}}
      </td>
      {% endif %}
    {% if sor.rakocziter_min or sor.rakocziter_med %}
    <td>{% if sor.rakocziter_min %} 
          {{sor.rakocziter_min}}-{{sor.rakocziter_max}} 
        {% else %}
          {{sor.rakocziter_med}}
        {% endif %}
        {{sor.rakocziter_msg}}
        {{sor.rakocziter_tegnap}}
      </td>
      {% endif %}
    {% if sor.bosnyakter_min or sor.bosnyakter_med %}
    <td>{% if sor.bosnyakter_min %} 
          {{sor.bosnyakter_min}}-{{sor.bosnyakter_max}} 
        {% else %}
          {{sor.bosnyakter_med}}
        {% endif %}
        {{sor.bosnyakter_msg}}
        {{sor.bosnyakter_tegnap}}
      </td>
      {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
